<template>
  <v-layout row align-center>
    <span @click="value = false">Left label</span><v-switch class="switch" v-model="model" /><span @click="value=true">Right label</span>
  </v-layout>
</template>


<script>
export default {
  name: "EnhancedSwitch",
  data: () => ({
    value: true
  }),
  computed: {
    model: {
      get() {
        return this.value;
      },
      set(v) {
        console.log({ v });
        this.value = v;
      }
    }
  }
};
</script>

<style>
.switch {
  margin-left: 10px;
}
</style>
