<template>
  <v-container fluid>
      <v-layout row justify-center>
        <v-flex xs8>
        <rectangle />
        </v-flex>
      </v-layout>
      <v-layout row>
        <rectangle />
      </v-layout>
  </v-container>
</template>

<script>
import Rectangle from "./rectangle";
export default {
  components: { Rectangle },
  name: "HelloWorld",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
