<template>
  <v-layout column>
    <v-layout row align-center>
    <h4>input heading</h4>
    <v-spacer />
    <v-flex shrink>
      <enhanced-switch />
    </v-flex>
    </v-layout>
    <v-text-field label="plouf" />
  </v-layout>
</template>

<script>
import EnhancedSwitch from "./enhanced-switch.vue";
export default {
  components: { EnhancedSwitch },
  name: "rectangle"
};
</script>

<style>
.rectangle {
  border: 1px solid black;
}

#switch {
  height: 1em;
}
</style>
